h1 { margin-top:20px; font-size:1.8em; font-weight:bold; }
h2 { font-size:1.5em; }
pre, pre code { font-family: 'Monaco', monospace; }
pre { border: 1px solid #ccc; background-color: #eee; border: 1px solid #888; padding: 1em; }
li { font-size: 1.2em; }